server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    
  h2:
    console:
      enabled: true
      path: /h2-console
      
  redis:
    host: localhost
    port: 6379
    password: 
    database: 0
    timeout: 2000ms
    
logging:
  level:
    com.bjj.mall: debug